<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <title>scd - Schedule</title>
        <h1>Tracks</h1>
        <ul>
            <li>
                <a href="scd/com">Community = [com]</a>
            </li>
            <li>
                <a href="scd/soc">Ethics, Society \u0026 Politics = [soc]</a>
            </li>
            <li>
                <a href="scd/its">IT-Security = [its]</a>
            </li>
            <li>
                <a href="scd/art">Art \u0026 Culture = [art]</a>
            </li>
            <li>
                <a href="scd/hwm">Hardware \u0026 Making = [hwm]</a>
            </li>
            <li>
                <a href="scd/fsc">Fireside Chat = [fsc]</a>
            </li>
            <li>
                <a href="scd/sci">Science = [sci]</a>
            </li>
            <li>
                <a href="scd/xxx">null = [xxx]</a>
            </li>
        </ul>
    </body>
</html>
